.faq {
	background-color: var(--color-white);
	padding: 13rem 2.4rem 5rem 2.4rem;
	height: 100%;
	width: 100%;
	box-shadow: 0 50px 50px rgb(53, 18, 122, .5);
	border-radius: 23px;
	position: relative;
}

@media only screen and (min-width: 1100px) {
	.faq {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		height: 50.9rem;
		width: 92rem;
		padding: 0 11rem;
		overflow: hidden;
	}
}

.faq__image {
	display: block;
	height: 18rem;
	width: 24.7rem;
	position: absolute;
	top: -9.7rem;
	left: calc(50% - 1.3rem);
	transform: translateX(-50%);
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('../assets/illustration-woman-online-mobile.svg');
	z-index: 2;
}

@media only screen and (min-width: 1100px) {
	.faq__image {
		height: 35.8rem;
		width: 47.2rem;
		top: 50%;
		left: -8rem;
		transform: translateY(-51%);
		/* background-image: url(../assets/illustration-woman-online-desktop.svg); */
	}
}

.faq__bg {
	display: block;
	margin: auto;
	height: 18rem;
	width: 22.5rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-size: contain;
	background-repeat: no-repeat;
	/* background-image: url(../assets/bg-pattern-mobile.svg); */
	z-index: 1;
}

@media only screen and (min-width: 1100px) {
	.faq__bg {
		height: 56.8rem;
		width: 96.4rem;
		margin: 0;
		top: -1.5rem;
		left: -62%;
		transform: translateX(0);
		background-size: cover;
		background-position: 50% 75%;
		background-image: url(../assets/bg-pattern-desktop.svg);
	}
}

/* Box image on desktop */
@media only screen and (min-width: 1100px) {
	main::before {
		content: '';
		width: 15rem;
		height: 18rem;
		position: absolute;
		left: calc((100vw - 92rem) / 2 - 9rem);
		top: calc(50% + 5.8rem);
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url(../assets/illustration-box-desktop.svg);
		z-index: 3;
	}
}
