:root {
	/* Colors */
	--color-white: #ffffff;
	--color-orange: hsl(14, 88%, 65%);
	--color-dark-blue: hsl(238, 29%, 16%);
	--color-light-gray: hsl(240, 5%, 91%);
	--color-dark-gray: hsl(237, 12%, 33%);
	--color-mid-gray: hsl(240, 6%, 50%);
	--bg-gradient: linear-gradient(180deg, hsl(273, 75%, 66%) 0%, hsl(240, 73%, 65%) 100%);

	/* Font Weights */
	--weight-regular: 400;
	--weight-bold: 700;
}

/* Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	min-height: 100vh;
	background-image: var(--bg-gradient);
	padding: 13rem 2.4rem 10rem 2.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
}